.small {
    padding: 9px 32px;
    min-width: 127px;
    min-height: 30px;
    font-size: 10px;
    line-height: 12.4px;
    white-space: nowrap;
}

.blue {
    background-color: rgba(79, 162, 220, 1);
    border: solid rgba(136, 191, 229, 1) 2px;
}

.white {
    background-color: #fff;
    color: rgba(79, 162, 220, 1);
    border: solid rgba(136, 191, 229, 1) 2px;
}