.large {
    padding: 22px 50px;
    width: 410px;
    height: 47px;
    font-size: 16px;
    line-height: 19.84px;
    white-space: nowrap;
    border: solid var(--color-border) 3px;
}

.large:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: solid var(--color-primary) 3px;
    transition: all 0.3s;
}