:root {
    --color-white: #FFFFFF;
    --color-primary: #4FA2DC;
    --color-secondary1: #131313;
    --color-secondary2: #EEF7FE;
    --color-secondary3: #C2E0F8;
    --color-secondary4: #FF4C4C;
    --color-gray1: #1F2937;
    --color-gray2: #4B5563;
    --color-gray3: #9CA3AF;
    --color-gray4: #D9E0EB;
    --color-border: #88BFE5;
}